    body{
    COLOR:rgb(0, 110, 255)
                                  
    
}


body{
    background-color:black
}



contact no{
    color: chocolate;
}

.red-text{
    color:red;
}